{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  body{
    background:cadetblue;
  }
    table {
        border-collapse: collapse;
        width: 100%;
        width:60vw;
        background:lightseagreen;
        margin-left:25%;
      }
      
      th, td {
        text-align: left;
        padding: 8px;
      }
      table a{
        color:black;
      }
    thead{
      background:black;
      color:white;
    }
      
      th {
        background-color: black;
        color: white;
      }
</style>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Capacity</th>
            <th>Rent Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.name }}</td>
            <td>{{ book.address }}</td>
            <td>{{ book.capacity }}</td>
            <td>{{book.price}}</td>
            <td><a href="{% url 'community_centers'%}">Rent</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}